body {
  overflow: hidden;
  background: #fafafa;
}

.centered {
  margin: 2rem 1rem 2rem 3rem;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

.row-border {
  width: 18.9rem;
  border-bottom: 0.1rem solid #ccc;
}

.range {
  width: 13.5rem;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

#sidebar {
  overflow-y: scroll;
  overflow-x: hidden;
  background: #fff;
  color: #000;
  transition: all 0.3s;
  min-width: 18rem;
  max-width: 18rem;
  height: 100vh;
  border-right: 0.1rem solid #ccc;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#sidebar-header {
  padding: 2.5rem;
  border-bottom: 0.1rem solid #ccc;
}

#inputModel {
  display: none;
}

#inputModel + label {
  color: white;
  background-color: rgb(155, 0, 147);
  display: inline-block;
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

#inputModel:focus + label,
#inputModel + label:hover {
  background-color: rgb(105, 0, 100);
}

#btnRender,
#btnLoading,
#btnClear {
  color: white;
  background-color: rgb(155, 0, 147);
}

#btnRender:focus,
#btnRender:hover,
#btnClear:focus,
#btnClear:hover {
  background-color: rgb(105, 0, 100);
}

#btnLoading {
  cursor: default;
}

#content {
  width: calc(100% - 18rem);
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#canvas {
  position: absolute;
  border: 0px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
